body{
	background-color:#7af5ed;
	font-family: Times new roman;
}

form{
	font-size:15px;
	font-family:vrinda;
}

button{
	font-size:30px;
	cursor:pointer;
	font-family:Algerian; 
	height:60px;
	border-radius:30%;
	background:linear-gradient(pink,yellow);
}

button:hover{
	color:black;
	font-size:35px;
	background:linear-gradient(lightsalmon,lightpink);
	transform:scale(1.3);
}

input:hover{
	background-color:lightpink;
	color:black;
}

input{
	font-size:20px;
}

h2{
	font-size: 35px;
	background-color:lightsalmon;
}

.in{
	height: 25px;
	width:175px;
}