html{
	scroll-behavior:smooth;
}

nav{
	display:grid;
	grid-template-columns:2fr 2fr 2fr 2fr 2fr;
	button{
		font-size:20px;
		border-radius:50px;
	}
}

p{
	padding:10px;
}

.i{
	img{
		width:19%;
	} 
}

button{
	background:linear-gradient(#f7f5be,#5fe8ed);
	color:black;
	width:175px;
	border-radius:20px;
}

button:hover{
	cursor:pointer;
	transform:scale(1.3);
	margin-right:25px;
	background:linear-gradient(#f7bef6,#bef7bf);
}

p{
	text-align:justify;
	font-family:Vrinda;
	background:#0af779;
}

body{
	background:lightyellow;
}

h1{
	font-family:Algerian;
	font-size:35px;
}

span{
	font-family:Times New Roman;
	color:black;
	background:lightyellow;
	font-size:20px;
}

.p{
	background:linear-gradient(lightyellow,lightpink);
	button{
		color:black;
		background:lightskyblue;
		font-size:30px;
		border-radius:50px;
	}
	button:hover{
		color:black;
		background:linear-gradient(lightblue,lightgreen);
	}
}

.p1{
	background:linear-gradient(lightyellow,lightpink);
	button{
		color:black;
		background:lightsalmon;
		font-size:30px;
		width:700px;
		border-radius:50px;
	}
	button:hover{
		color:black;
		transform:scale(1.2);
		background:linear-gradient(lightblue,lightgreen);
	}
}

h6{
	font-family:Vrinda;
	background:#d37be3;
	font-size:30px;
	padding:0px;
	margin:0px;
}

.para{
	padding:0px;
	p{
		padding:0px;
		margin:0px;
	}
	h6{
		padding:0px;
		margin:0px;
	}
}

.image{
	img{
		width:100%;
		padding:0px;
		margin:0px;
	}
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}

.St{
	display:flex;
	img{
		width:24%;
	}
}

img:hover{
	transform:scale(1.1);
	cursor:pointer;
}

.para1{
	img{
		border:5px red solid;
		background:lightyellow;
	}
}

h2{
	text-align:center;
	background:lightgreen;
	margin:0px;
	font-weight:bold;
	font-size:35px;
}

ul{
	text-align:justify;
	font-family:Vrinda;
	background:#0af779;
}

label{
	color:black;
	background:lightyellow;
	font-size:17px;
	font-family:Vrinda;
	font-weight:bold;
}

input:hover{
	background-color:lightskyblue;
	color:black;
	height:27px;
	font-size:24px;
}

form{
	p{
		font-size:20px;
		font-family:Vrinda;
	}
	font-size:22px;
}

.Ancor{
	margin-top:10px;
	a{
		text-decoration:none;
		color:blue;
		font-size:20px;
		font-family:Vrinda;
		padding:10px;
		background:lightgreen;
		border: 2px solid black;
		box-shadow: 1px 1px 10px red;
	}

	.btn{
		padding:10px;
		padding-left:25px;
		padding-right:25px;
		background-color:blue;
		color:white;
		border-radius:20px;
	}

.f{
	background:lightyellow;
	nav{
		display:flex;
		width:100%;
		position:fixed;
		background-color:white;
		box-shadow:1px 1px 10px grey;
		padding-top:10px;
		img{
			margin-left:250px;
		}
		.anchor{
			margin-top:10px;
			a{
				text-decoration:none;
				color:blue;
				font-size:20px;
				font-family:Vrinda;
				padding:10px;
				padding-left:25px;
				padding-right:25px;
				background-color:blue;
				color:white;
				border-radius:20px;
			}
		}
	}
}